<%= render "shared/second_header" %>

<div>
  <h2>シフト期間の設定</h2>
    <%= form_with model: [@board, @shift_frame], url: board_shift_frames_path(@board.id), local: true do |f| %>
      <div class="start-day-group">
        <%= f.label :start_day, '開始日' %>
        <%= f.date_field :start_day %>
      </div>
      <div class="end-day">
        <%= f.label :end_day, '終了日' %>
        <%= f.date_field :end_day %>
      <%= f.submit '設定を保存' %>
      </div>
    <% end %>
</div>