<div class="shift-content" data-date=<%= l(date, format: :default) %>>
  <div class="shift-content-exist">
    <div class="shift-time-wrapper">
      <% shifts.each do |shift| %>
        <div class="each-shift-time-content">
          <div class="one-shift-time">
            <p class="shift-time" data-shift=<%= shift.id %>>
              <%= "#{l(shift.start_time, format: :short)} - #{l(shift.end_time, format: :short)}" %>
            </p>
            <div class="shift-menu-icon">
              <i class="fas fa-ellipsis-h"></i>
              <ul class="shift-menu-list">
                <li class="shift-menu-edit">編集する</li>
                <li class="shift-menu-delete">
                  <%=link_to '削除する', "/boards/#{@board.id}/shifts/#{shift.id}", method: :delete %>
                </li>
              </ul>
            </div>
          </div>
          <%# シフト時間の編集 ここから %>
          <div class="shift-edit-content">
            <h3>シフトを変更</h3>
            <p class="form-head-shift-staff-name">
              <%= staff.last_name %> <%= staff.first_name %>
            </p>
            <p class="form-head-shift-date">
              <%= l(date, format: :long) %>
            </p>
            <%= form_with model: [@board, shift], local:true do |f| %>
              <%= hidden_field_tag :id, shift.id %>
              <%= hidden_field_tag :staff_user_id, staff.id %>
              <div class="shift-form-time-group">
                <%= f.time_select :start_time, default: shift.start_time, minute_step: 5 %>
                <span class="between-start-end">-</span>
                <%= f.time_select :end_time, default: shift.end_time, minute_step: 5 %>
              </div>
              <div class="shift-form-btn-group">
                <button type="button" class="shift-edit-form-cancel">キャンセル</button>
                <%= f.submit '変更', class: "shift-edit-form-submit" %>
              </div>
            <% end %>
          </div>
          <%# シフト時間の編集 ここまで %>
        </div>
      <% end %>
    </div>
    <%# シフトの追加ページ ここから %>
    <div class="shift-create-content">
      <h3>シフトを追加</h3>
      <p class="form-head-shift-staff-name">
        <%= staff.last_name %> <%= staff.first_name %>
      </p>
      <p class="form-head-shift-date">
        <%= l(date, format: :long) %>
      </p>
      <%= form_with model: [@board, @shift], class: "shift-add-form" do |f| %>
        <%= hidden_field_tag :staff_user_id, staff.id %>
        <div class="shift-form-time-group">
          <%= f.time_select :start_time, class:"start-form-box", default: date.in_time_zone, minute_step: 5 %>
          <span>-</span>
          <%= f.time_select :end_time, class: "end-form-box", default: date.in_time_zone, minute_step: 5 %>
        </div>
        <div class="shift-form-btn-group">
          <button type="button" class="shift-create-form-cancel">キャンセル</button>
          <%= f.submit '保存', class: "shift-create-form-submit" %>
        </div>
      <% end %>
    </div>
    <%# シフトの追加ページ ここまで %>
  </div>
</div>