<%= render "shared/second_header" %>

<div id='board-show-main'>
  <%# 月カレンダー %>
  <div class="month-calendar" id="month-calendar">
    <div class="shift-title">
      <%= month_calendar do |date|%>
      <% end %>
      <%= render 'shared/switch_button' %>
    </div>
    <div class="month-calendar-main">
      <%= month_calendar(events: @shifts) do |date, shifts| %>
        <div class="month-day">
          <%= date.day %>
        </div>
        <div class="month-day-staff">
          <% shifts.each do |shift| %>
            <% staff = StaffUser.find(shift.staff_user_id) %>
            <%= "#{staff.last_name}" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%# モーダルウィンドウ %>
  <%= render 'shared/modal' %>
</div>