<%= render "shared/second_header" %>

<div id='board-show-main'>
  <%# シフトボード内ヘッダー %>
  <div class='board-show-header'>
    <nav class="board-list-menu">
      <div class="board-list-menu-btn" id="board-list-menu">
        <i class="fas fa-angle-down fa-lg"></i>
      </div>
      <ul class="board-list-pulldown" id="board-list-pulldown" style="display:none;">
        <% current_owner.boards.each do |board| %>
          <li class="pulldown-list-each-board">
            <%= link_to board.name, board_shifts_path(board), class: "pulldown-board-link", id:"pulldown-board-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="board-name-btn" id="board-name-btn">
      <h2 id="board-name-text"><%= @board.name %></p>
    </div>

    <div class="invite-btn-wrapper">
      <i class="fas fa-user-plus lg" id="invite-btn"></i>
    </div>

    <div class="staff-list-wrapper">
      <% @board_staffs.each do |staff| %>
        <div class="member-list">
          <%= link_to "#{staff.last_name}", "#", class: "board-staff-link" %>
        </div>
      <% end %>
      <div id="add-staff"></div>
    </div>
  </div>

  <%# ヘッダー下 %>
  <div class="under-board-header">
    <div class="switch-bar">
      <div id="switch-week" class="switch">
        <p>週</p>
      </div>
      <div id="switch-month" class="switch">
        <p>月</p>
      </div>
      <div id="switch-calendar" class="switch">
        <p>カレンダー</p>
      </div>
    </div>
  </div>

  <%# 週 シフト %>
  <div class="week-shift" id="week-shift" style="display:none;">
    <div class="shift-title">
      <%= week_calendar do |date|%>
      <% end %>
    </div>
    <div class="shift-table">
      <div class="date-row">
        <div class="empty"></div>
        <div class="date-list">
          <%= week_calendar do |date|%>
            <%= "#{date.day}#{t('date.day_names')[date.wday]}" %>
          <% end %>
        </div>
      </div>
      <% @staffs.each do |staff| %>
        <div class="staff-shift-list">
          <div class="staff-cell">
            <%= "#{staff.last_name} #{staff.first_name}" %>
          </div>
          <div class="staff-shift-group">
            <%= week_calendar(events: staff.shifts) do |date, shifts| %>
              <% shifts.each do |shift| %>
                <p class="shift-time">
                  <%= "#{l(shift.start_time, format: :short)} - #{l(shift.end_time, format: :short)}" %>
                </p>
              <% end %>
              <i class="fas fa-caret-down lg shift-down"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# 月 シフト %>
  <div class="month-shift" id="month-shift" style="display:block;">
    <div class="shift-title">
      <%= month_calendar do |date|%>
      <% end %>
    </div>
    <div class="shift-table">
      <div class="date-row">
        <div class="empty"></div>
        <div class="date-list">
          <%= month_calendar do |date|%>
            <%= "#{date.day}#{t('date.day_names')[date.wday]}" %>
          <% end %>
        </div>
      </div>
      <% @staffs.each do |staff| %>
        <div class="staff-shift-list">
          <div class="staff-cell">
            <%= "#{staff.last_name} #{staff.first_name}" %>
          </div>
          <div class="staff-shift-group">
            <%= month_calendar(events: staff.shifts.where(board_id: @board.id)) do |date, shifts| %>
              <div class="shift-content">
                <div class="shift-time-wrapper">
                  <% shifts.each do |shift| %>
                    <div class="one-shift-time">
                      <p class="shift-time">
                        <%= "#{l(shift.start_time, format: :short)} - #{l(shift.end_time, format: :short)}" %>
                      </p>
                      <div class="shift-menu-list-box">
                        <ul class="shift-menu-list">
                          <li class="shift-time-edit">
                            <%= link_to '', "#", class: "fas fa-edit" %>
                          </li>
                          <li class="shift-time-delete">
                            <%= link_to '', "/boards/#{@board.id}/shifts/#{shift.id}", method: :delete, class: "far fa-trash-alt" %>
                          </li>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                  <div class="add-shift-place">
                    <p class="add-shift">+</p>
                  </div>
                </div>
                <div class="shift-create-content">
                  <p><%= l(date, format: :long) %></p>
                  <p><%= staff.last_name %><%= staff.first_name %></p>
                  <%= form_with model: [@board, @shift], local:true do |f| %>
                    <%= hidden_field_tag :staff_user_id, staff.id %>
                    <div class="shift-form-time-group">
                      <%= f.time_select :start_time, class:"start-form-box", default: date.in_time_zone, minute_step: 5 %>
                      <span>-</span>
                      <%= f.time_select :end_time, class: "end-form-box", default: date.in_time_zone, minute_step: 5 %>
                    </div>
                    <%= f.submit '保存する', class: "shift-create-form-submit" %>
                    <button type="button" class="shift-create-form-cancel">キャンセル</button>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# 月カレンダー %>
  <div class="month-calendar" id="month-calendar" style="display:none;">
    <%= month_calendar(events: @shifts) do |date, shifts| %>
      <div class="month-day">
        <%= date.day %>
      </div>
      <div class="month-day-staff">
        <% shifts.each do |shift| %>
          <% staff = StaffUser.find(shift.staff_user_id) %>
          <%= "#{staff.last_name}" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# モーダルウィンドウ %>
  <div id="board-show-modal">
    <div id="board-edit-content">
      <button type="button" class="modal-close-btn" id="edit-close-btn">×</button>
      <%= form_with model: @board, url: "/boards/#{@board.id}", id: "edit-form" do |f| %>
        <h3 class="edit-header-text">シフトボード名の変更</h3>
        <%= f.text_field :name, id: "board-edit-name" %>
        <%= f.submit '変更する', id: "edit-submit-btn" %>
      <% end %>
    </div>

    <div id="board-invite-content">
      <button type="button" class="modal-close-btn" id="invite-close-btn">×</button>
      <h3 class="invite-header-text">ボードに招待</h3>
      <%= form_with model: @board_staff, url: "/boards/#{@board.id}/search", id: "invite-form" do |f| %>
        <div class="search-staff-name-group">
          <%= f.label :id_name, 'ユーザーID' %>
          <%= f.text_field :id_name, id: "invite-staff-name" %>
        </div>
        <button type="button" id="search-staff-btn">検索する</button>
        <p id="result-staff-name"></p>
        <p id="result-message"></p>
        <button  type="button", id="invite-staff-submit" >招待する</button>
      <% end %>
    </div>
  </div>

</div>