<%= render "shared/second_header" %>

<div id='board-show-main'>
  <%# シフトボード内ヘッダー %>
  <div class='board-show-header'>
    <nav class="board-list-menu">
      <div class="board-list-menu-btn" id="board-list-menu">
        <i class="fas fa-angle-down fa-lg"></i>
      </div>
      <ul class="board-list-pulldown" id="board-list-pulldown" style="display:none;">
        <% current_owner.boards.each do |board| %>
          <li class="pulldown-list-each-board">
            <%= link_to board.name, board_shifts_path(board), class: "pulldown-board-link", id:"pulldown-board-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="board-name-btn" id="board-name-btn">
      <h2 id="board-name-text"><%= @board.name %></p>
    </div>

    <div class="invite-btn-wrapper">
      <i class="fas fa-user-plus lg" id="invite-btn"></i>
    </div>

    <div class="staff-list-wrapper">
      <% @board_staffs.each do |staff| %>
        <div class="member-list">
          <%= link_to "#{staff.last_name}", "#", class: "board-staff-link" %>
        </div>
      <% end %>
      <div id="add-staff"></div>
    </div>
  </div>

  <%# シフト表 (週) %>
  <div class="week-shift-calendar">
    <div class="week-shift-head">
      <div class="week-empty-cell"></div>
      <div class="week-date-row">
        <%= week_calendar do |date|%>
          <div class="week-date-cell">
            <%= "#{date.day}#{t('date.day_names')[date.wday]}" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="week-shift-table">
      <% @staffs.each do |staff| %>
        <div class="week-staff-row">
          <div class="week-staff-cell" >
            <%= "#{staff.last_name} #{staff.first_name}" %>
          </div>
          <div class="week-staff-shift">
            <%= week_calendar(events: staff.shifts) do |date, shifts| %>
              <div class="week-daily-shift-cell">
                <% shifts.each do |shift| %>
                  <p class="shift-time">
                    <%= "#{l(shift.start_time, format: :short)} - #{l(shift.end_time, format: :short)}" %>
                  </p>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# 月 シフト %>
  <div class="month-shift">
    <div class="shift-title">
      <%= month_calendar do |date|%>
      <% end %>
    </div>
    <div class="shift-table">
      <div class="date-row">
        <div class="empty"></div>
        <div class="date-list">
          <%= month_calendar do |date|%>
            <%= "#{date.day}#{t('date.day_names')[date.wday]}" %>
          <% end %>
        </div>
      </div>
      <% @staffs.each do |staff| %>
        <div class="staff-shift-list">
          <div class="staff-cell">
            <%= "#{staff.last_name} #{staff.first_name}" %>
          </div>
          <div class="staff-shift-group">
            <%= month_calendar(events: staff.shifts) do |date, shifts| %>
              <% shifts.each do |shift| %>
                <p class="shift-time">
                  <%= "#{l(shift.start_time, format: :short)} - #{l(shift.end_time, format: :short)}" %>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# 月カレンダー %>
  <div class="month-calendar">
    <%= month_calendar(events: @shifts) do |date, shifts| %>
      <div class="month-day">
        <%= date.day %>
      </div>
      <div class="month-day-staff">
        <% shifts.each do |shift| %>
          <% staff = StaffUser.find(shift.staff_user_id) %>
          <%= "#{staff.last_name}" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# モーダルウィンドウ %>
  <div id="board-show-modal">
    <div id="board-edit-content">
      <button type="button" class="modal-close-btn" id="edit-close-btn">×</button>
      <%= form_with model: @board, url: "/boards/#{@board.id}", id: "edit-form" do |f| %>
        <h3 class="edit-header-text">シフトボード名の変更</h3>
        <%= f.text_field :name, id: "board-edit-name" %>
        <%= f.submit '変更する', id: "edit-submit-btn" %>
      <% end %>
    </div>

    <div id="board-invite-content">
      <button type="button" class="modal-close-btn" id="invite-close-btn">×</button>
      <h3 class="invite-header-text">ボードに招待</h3>
      <%= form_with model: @board_staff, url: "/boards/#{@board.id}/search", id: "invite-form" do |f| %>
        <div class="search-staff-name-group">
          <%= f.label :id_name, 'ユーザーID' %>
          <%= f.text_field :id_name, id: "invite-staff-name" %>
        </div>
        <button type="button" id="search-staff-btn">検索する</button>
        <p id="result-staff-name"></p>
        <p id="result-message"></p>
        <button  type="button", id="invite-staff-submit" >招待する</button>
      <% end %>
    </div>
  </div>
</div>