<%= render "shared/second_header" %>

<div id='board-show-main'>
  <%# 週 シフト %>
  <div class="week-shift" id="week-shift">
    <div class="shift-title">
      <%= week_calendar do |date|%>
      <% end %>
      <%= render 'shared/switch_button' %>
    </div>
    <div class="shift-table">
      <div class="date-row">
        <div class="empty"></div>
        <div class="date-list">
          <%= week_calendar do |date|%>
            <p>
              <span class="date-date"><%= date.day %></span>
              (<span class="date-wday-name"><%= t('date.day_names')[date.wday] %></span>)
            </p>
          <% end %>
        </div>
      </div>
      <% @staffs.each do |staff| %>
        <div class="staff-shift-list">
          <div class="staff-cell">
            <%= "#{staff.last_name} #{staff.first_name}" %>
          </div>
          <div class="staff-shift-group">
            <div class="staff-shift__top">
              <%= week_calendar(events: staff.shifts) do |date, shifts| %>
                <%= render partial: 'shared/inner_shift_cell', locals: { date: date, shifts: shifts, staff: staff } %>
              <% end %>
            </div>
            <div class="staff-shift-request__bottom">
              <%= week_calendar(events: staff.shift_requests.where(board_id: @board.id, submitted: true)) do |date, shift_requests| %>
                <%= render partial: 'shared/inner_shift_request', locals: { date: date, shift_requests: shift_requests, staff: staff } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# モーダルウィンドウ %>
  <%= render 'shared/modal' %>

</div>