<div class="simple-calendar">
  <div class="calendar-heading">
    <p class="shift-prev">
      <%= link_to t('simple_calendar.previous', default: ''), calendar.url_for_previous_view, class: "fas fa-caret-left" %>
    </p>
    <p class="shift-next">
      <%= link_to t('simple_calendar.next', default: ''), calendar.url_for_next_view, class: "fas fa-caret-right" %>
    </p>
    <p class="calendar-title">
      <% if calendar.number_of_weeks == 1 %>
        <span class="calendar-title-sub week-begin"><%= l(start_date.beginning_of_week, format: :year_month) %></span>
        <% if start_date.beginning_of_week.year != start_date.end_of_week.year %>
          <span class="calendar-title-sub center">-</span>
          <span class="calendar-title-sub week-end"><%= l(start_date.end_of_week, format: :year_month) %></span>
        <% elsif start_date.beginning_of_week.month != start_date.end_of_week.month %>
          <span class="calendar-title-sub center">-</span>
          <span class="calendar-title-sub week-end"><%= "#{start_date.end_of_week.month}月" %></span>
        <% end %>
      <%else%>
        <span class="calendar-title-sub">Week <%= calendar.week_number %> - <%= calendar.end_week %></span>
      <%end%>
    </p>
  </div>

  <table class="table table-striped">
    <tbody class="simple-tbody">
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
