<%= render 'shared/header' %>

<div id='board-show-main'>
  <div class='board-show-header'>
    <div class="board-name-btn" id="board-name-btn">
      <p><%= @board.name %></p>
    </div>

    <div class="invite-btn-wrapper">
      <button type="button" id="invite-btn">招待</button>
    </div>
  </div>

  <div id="board-show-modal">
    <div id="board-edit-content">
      <button type="button" class="modal-close-btn" id="edit-close-btn">×</button>
      <%= form_with model: @board, id: "edit-form" do |f| %>
        <h3 class="edit-header-text">シフトボード名の変更</h3>
        <%= f.text_field :name, id: "board-edit-name" %>
        <%= f.submit '変更する', id: "edit-submit-btn" %>
      <% end %>
    </div>
    <div id="board-invite-content">
      <button type="button" class="modal-close-btn" id="invite-close-btn">×</button>
      <h3 class="invite-header-text">ボードに招待</h3>
      <%= form_with model: @board_staff, url: boards_path, id: "staff-search-form" do |f| %>
        <%= f.text_field :id_name, id: "search-staff-name" %>
        <%= f.email_field :email, id: "search-staff-email" %>
        <button type="button" id="staff-search-btn">ユーザーを探す</button>
        <%= f.submit '招待', id: "staff-search-submit" %>
      <% end %>
    </div>
  </div>
</div>