<%= render 'shared/header' %>

<div class="submit-wrapper">
  <div class="submit-main">
    <%= form_with(scope: :search, url: search_shift_requests_path, local: true, method: :get, class: "submit-search-form") do |f| %>
      <%= f.collection_select :board_id, current_staff_user.boards, :id, :name, { include_blank: '選択してください', selected: @search_params[:board_id] }, { required: true } %>
      <%= f.date_field :start_term, value: @search_params[:start_term] %>
      <%= f.date_field :end_term, value: @search_params[:end_term] %>
      <%= f.submit "確認する" %>
    <% end %>
  </div>
</div>

<% if @shift_requests.present? %>
  <div class="submit-confirm">
    <ul>
      <% @shift_requests.each do |shift_request| %>
        <li>
          <p>
            <%= l(shift_request.start_time, format: :date_long) %>
            <%= "#{l(shift_request.start_time, format: :short)} - #{l(shift_request.end_time, format: :short)}" %>
          </p>
        </li>
      <% end %>
    </ul>
    <div>
      <div class="submit-btn-wrapper">
        <%= link_to 'キャンセル', root_path %>
        <%= link_to '提出する',submit_shift_requests_path, method: :post %>
      </div>
    </div>
  </div>
<% end %>